div{
  margin-top: 20px;
}

.btn-back{
  cursor: pointer;
  background-color: #abb5b8;
  border: none;
  color: white;
  padding: 10px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin-bottom: 20px;
}

.add-patient{
  cursor: pointer;
  background-color: #4c7faf;
  border: none;
  color: white;
  padding: 10px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin-bottom: 20px;
}
