.btn-back{
  cursor: pointer;
  background-color: #abb5b8;
  border: none;
  color: white;
  padding: 10px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin-bottom: 20px;
}
