<ng-container *ngIf="patient">
  <h1>Note du patient {{ patient.firstName }} {{ patient.lastName }}</h1>
</ng-container>

<ng-container *ngIf="patientNote">
  <div>
    <form [formGroup]="patientNoteForm" (ngSubmit)="onSubmitForm()">
      <div class="form-group">
        <label for="notes">Notes de rendez-vous</label>
        <div class="textarea-note">
          <textarea id="notes" formControlName="notes" type="textarea" rows="10" cols="100">{{ patientNote.notes }}"</textarea>
        </div>
      </div>
      <div>
        <button class="update-patient-note" type="submit">Sauvegarder</button>
        <button class="btn-back" (click)="goBack()">Cancel</button>
      </div>
    </form>
    <button class="delete-patient-note" (click)="resetPatientNote(patientNote.patientId)">Supprimer</button>
    <div>

    </div>
  </div>
</ng-container>
