.textarea-note{
  padding-top: 20px;
}

.update-patient-note{
  cursor: pointer;
  background-color: #60af4c;
  border: none;
  color: white;
  margin-top: 20px;
  margin-right: 20px;
  padding: 10px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin-bottom: 20px;
}

.btn-back{
  cursor: pointer;
  background-color: #abb5b8;
  border: none;
  color: white;
  padding: 10px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin-bottom: 20px;
}

.delete-patient-note{
  cursor: pointer;
  background-color: #db242d;
  border: none;
  color: white;
  margin-right: 20px;
  padding: 10px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin-bottom: 20px;
}
